@-webkit-keyframes wobbleLeft {
  0% {
    left: 20px;
    opacity: 0.7;
  }
  50% {
    left: 10px;
    opacity: 1;
  }
  100% {
    left: 20px;
    opacity: 0.7;
  }
}
@-moz-keyframes wobbleLeft {
  0% {
    left: 20px;
    opacity: 0.7;
  }
  50% {
    left: 10px;
    opacity: 1;
  }
  100% {
    left: 20px;
    opacity: 0.7;
  }
}
@keyframes wobbleLeft {
  0% {
    left: 20px;
    opacity: 0.7;
  }
  50% {
    left: 10px;
    opacity: 1;
  }
  100% {
    left: 20px;
    opacity: 0.7;
  }
}
@-webkit-keyframes wobbleRight {
  0% {
    right: 20px;
    opacity: 0.7;
  }
  50% {
    right: 10px;
    opacity: 1;
  }
  100% {
    right: 20px;
    opacity: 0.7;
  }
}
@-moz-keyframes wobbleRight {
  0% {
    right: 20px;
    opacity: 0.7;
  }
  50% {
    right: 10px;
    opacity: 1;
  }
  100% {
    right: 20px;
    opacity: 0.7;
  }
}
@keyframes wobbleRight {
  0% {
    right: 20px;
    opacity: 0.7;
  }
  50% {
    right: 10px;
    opacity: 1;
  }
  100% {
    right: 20px;
    opacity: 0.7;
  }
}
.user-full-wrapper {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  -ms-grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 10px;
  align-items: top;
}
.user-full-wrapper .user-item {
  border: 1px solid #f3f3f3;
  padding: 10px;
}
.user-full-wrapper .user-full-image-wrapper {
  position: relative;
}
.user-full-wrapper .user-full-image-wrapper img {
  display: block;
}
.user-full-wrapper h2 {
  padding: 0 0 15px 0;
}
.user-full-wrapper h3 {
  padding: 0;
  margin: 0;
  font-size: 310%;
  font-weight: 300;
}
.user-full-wrapper h3 * {
  font-size: 100%;
}
.user-full-wrapper p {
  padding: 0;
  margin: 0;
  font-size: 90%;
  color: #777;
}
.user-full-wrapper p * {
  font-size: 100%;
}
.user-square-grid-wrapper {
  position: relative;
  padding: 0;
  margin: 0;
}
.user-square-grid-wrapper .user-square-grid-content-wrapper {
  margin: 0;
  padding: 0;
}
.user-square-grid-wrapper .user-square-grid-content-wrapper .field--type-image {
  margin: 0;
  float: none;
}
.user-square-grid-wrapper .user-square-grid-content-wrapper img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.user-square-grid-wrapper .user-square-grid-content-wrapper a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  margin: 0;
  padding: 0;
}
.user-square-grid-wrapper .user-square-grid-content-wrapper p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  padding: 4px 0;
  margin: 0;
  text-align: center;
  font-size: 80%;
  color: #000;
  background: rgba(255, 255, 255, 0.5);
  z-index: 200;
}
.view-users-square-grid-views-block .views-content-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  -ms-grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 10px;
  align-items: top;
}
@media screen and (min-width: 750px) {
  .user-square-grid-wrapper a {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .user-square-grid-wrapper a:hover {
    background: rgba(33, 72, 207, 0.8);
  }
  .user-square-grid-wrapper a:hover:before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 20px;
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    opacity: 0;
    border-radius: 2px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .user-square-grid-wrapper a:hover:after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px;
    width: 15px;
    height: 15px;
    opacity: 0;
    border-radius: 2px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .user-square-grid-wrapper a:hover:hover:before {
    -webkit-animation: wobbleLeft 1s ease-in-out infinite;
    animation: wobbleLeft 1s ease-in-out infinite;
    opacity: 1;
  }
  .user-square-grid-wrapper a:hover:hover:after {
    -webkit-animation: wobbleRight 1s ease-in-out infinite;
    animation: wobbleRight 1s ease-in-out infinite;
    opacity: 1;
  }
}
.user-inline-grid-wrapper {
  position: relative;
  padding: 0 20px 0 0;
  margin: 0 10px 0 0;
}
.user-inline-grid-wrapper a {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.user-inline-grid-wrapper a img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.user-inline-grid-wrapper a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 72, 207, 0.8);
  z-index: 10;
  opacity: 0;
}
.user-inline-grid-wrapper a:after {
  content: "";
  position: absolute;
  top: 38%;
  left: 30%;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 20;
  opacity: 0;
}
.user-inline-grid-wrapper p {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 25px 0 10px;
  margin: 0;
  font-size: 80%;
  color: #0a0a0a;
}
.view-users-inline-grid-views-block .views-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  -ms-grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 10px;
  align-items: top;
}
@media screen and (min-width: 750px) {
  .user-inline-grid-wrapper a {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .user-inline-grid-wrapper a:hover {
    border-radius: 0;
  }
  .user-inline-grid-wrapper a:hover:before {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 1;
  }
  .user-inline-grid-wrapper a:hover:after {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 1;
  }
}
span.status-active-mark {
  position: absolute;
  top: 4px;
  right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 100;
}
span.status-active-mark.active {
  background: #52bc6b;
}
span.status-active-mark.inactive {
  background: #ccc;
}
