//Appearance
.no-webkit-appearance() {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

// Transitions
.transition(@speed) {
  -webkit-transition: all @speed ease;
  -moz-transition: all @speed ease;
  -ms-transition: all @speed ease;
  -o-transition: all @speed ease;
  transition: all @speed ease;
}

// Transforms
.translateXY() {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.translateX() {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.translateY() {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.transform-none() {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

// CSS arrows
.up-arrow(@size, @color) {
	width: 0; 
	height: 0;
	border: @size solid @color;
  border-bottom: @size solid @color;
}
.right-arrow(@size, @color) {
	width: 0; 
	height: 0; 
	border: @size solid transparent;
	border-left: @size solid @color;
}
.down-arrow(@size, @color) {
	width: 0; 
	height: 0; 
	border: @size solid transparent;
  border-top: @size solid @color;
}
.left-arrow(@size, @color) {
	width: 0; 
	height: 0; 
	border: @size solid transparent;
	border-right: @size solid @color;
}

// Background images
.background-cover() {
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-position: center;
}
.background-contain() {
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-position: center;
}

// Rotate mixin
.rotate(@degree) {
  -webkit-transform:  rotate(@degree);
  -moz-transform:  rotate(@degree);
  -ms-transform:  rotate(@degree);
  -o-transform:  rotate(@degree);
  transform:  rotate(@degree);
}

//Overlays
.overlay() {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
}

//Buttons
.arrows() {
  background: @overlay-brand;
  
  &:before {
    content: "";
    .translateY();
    left: 20px;
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    opacity: 0;
    border-radius: 2px;
    .rotate(-45deg);
  }
  
  &:after {
    content: "";
    .translateY();
    right: 20px;
    width: 15px;
    height: 15px;
    opacity: 0;
    border-radius: 2px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    .rotate(45deg);
  }
  
  &:hover:before {
    -webkit-animation: wobbleLeft 1s ease-in-out infinite;
    animation: wobbleLeft 1s ease-in-out infinite;
    opacity: 1;
  }
  
  &:hover:after {
    -webkit-animation: wobbleRight 1s ease-in-out infinite;
    animation: wobbleRight 1s ease-in-out infinite;
    opacity: 1;
  }
}









