{% if content.user_picture or user.name.0.value %}
  <div class="user-inline-grid-wrapper">
    {{ content.user_picture }}
    <p>{{ userName }}{% if showActiveSessionMark == 'yes' %}{{ activeUserMark }}{% endif %}</p>
  </div>
{% endif %}
