<div class="user-square-grid-wrapper">
  <div class="user-square-grid-content-wrapper">
    {{ content.user_picture }}
    {% if showActiveSessionMark == 'yes' %}
      {{ activeUserMark }}
    {% endif %}
    <a href="/user/{{ user.uid.0.value }}"><p>{{ userName }}</p></a>
  </div>
</div>
