<div class="user-token-wrapper">
    
    <div class="user-token-content-wrapper">
        {{ content }}
        {% if user.login.0.value > 0 %}
            <span class="mark-active-user"></span>
        {% endif %}
        <a href="/user/{{ user.uid.0.value }}"><p>{{ user.name.0.value }}</p></a>
    </div>
    
</div>